[Unit]
Description=Tizen Runtime
Requires=tizen-system.target
Conflicts=rescue.service rescue.target
After=tizen-system.target rescue.service rescue.target
Before=multi-user.target
